@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
*{
  font-family: "Jura", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  background: rgb(30, 30, 30);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  &__logo{
    background: linear-gradient(136.53deg, rgb(255, 255, 255) 0%,rgb(0, 156, 162) 90%,rgb(0, 156, 162) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 35px;
    font-weight: 300;
  }

  &__link{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 300;
    line-height: 41px;
    margin-left: 20px;
    transition: .5s color;
    &:first-child{
      margin-left: 0;
    }
  }
  .active{
    color: #009CA2;
  }
}
.header{
  min-height: 100vh;
  background: #121112;
}
